In [1]:
import pandas as pd

In [2]:
ludnosc = []
for i in range(1, 17):
    ludnosc.append(pd.read_excel('../data/raw/gus/LUD_bilans_ludnosci_31-12-2011_fixed.xls', sheet_name=i))
ludnosc=pd.concat(ludnosc).dropna(axis=0)

In [3]:
powiaty = ludnosc[ludnosc[ludnosc.columns[0]].str.startswith('pow.')]

In [4]:
gmin_codes=powiaty.columns[1]
miejskie_powiaty_id = powiaty[powiaty[gmin_codes].str.strip().str.len()>4][gmin_codes].str.strip().values.tolist()
grodzkie_powiaty = powiaty[powiaty[gmin_codes].str.strip().str.len()==4][gmin_codes].str.strip().values.tolist()

In [5]:
ppl = pd.read_excel("../data/raw/gus/l_macierz_2014_03_18-1.xls", dtype=str)

In [6]:
def aggregate_powiaty(kod_gminy):
    kod_gminy = kod_gminy.strip()
    if kod_gminy in miejskie_powiaty_id:
        return kod_gminy
    
    return kod_gminy[:4]

In [7]:
ppl.columns

Index(['Kod terytorialny gminy zamieszkania', 'Kod terytorialny gminy pracy',
       'Liczba osób', 'Województwo zamieszkania', 'Powiat zamieszkania',
       'Gmina zamieszkania', 'Województwo pracy', 'Poawiat pracy',
       'Gmina pracy'],
      dtype='object')

In [9]:
ppl['From[Powiat]'] = ppl['Kod terytorialny gminy zamieszkania'].apply(aggregate_powiaty)
ppl['To[Powiat]'] = ppl['Kod terytorialny gminy pracy'].apply(aggregate_powiaty)
ppl['# ppl moving'] = ppl['Liczba osób'].astype(int)

In [10]:
mobility = ppl.groupby(['From[Powiat]','To[Powiat]'])['# ppl moving'].sum().reset_index()

In [11]:
ludnosc = powiaty[powiaty.columns[1:3]].copy()
ludnosc.columns = ["ID", "Inhabitants"]
ludnosc['ID']=ludnosc['ID'].astype(str).str.strip()
ludnosc = ludnosc.set_index("ID")['Inhabitants']

In [12]:
ludnosc_dict = ludnosc.to_dict()

In [13]:
between_mobility = mobility.copy() #[mobility['From[Powiat]']!= mobility['To[Powiat]']].copy()

In [14]:
ppl.groupby(['From[Powiat]'])['# ppl moving'].sum()

From[Powiat]
0201        6948
0202       10064
0203        9270
0204        3136
0205        4700
           ...
3217        2926
3218        2069
3261011     3587
3262011     7739
3263011      574
Name: # ppl moving, Length: 379, dtype: int64

In [15]:
src_dict = ppl.groupby(['From[Powiat]'])['# ppl moving'].sum().to_dict()
dest_dict = ppl.groupby(['To[Powiat]'])['# ppl moving'].sum().to_dict()

In [48]:
between_mobility['Inhabitants_From[Powiat]'] = between_mobility['From[Powiat]'].apply(lambda x: ludnosc_dict.get(x, None))
between_mobility['Inhabitants_To[Powiat]'] = between_mobility['To[Powiat]'].apply(lambda x: ludnosc_dict.get(x, None))
between_mobility['Inhabitants_To_From[Powiat]'] = between_mobility['To[Powiat]'].apply(lambda x: ludnosc_dict.get(x, None))

between_mobility['MobilitySurveyedInhabitants_From[Powiat]']  = between_mobility['From[Powiat]'].apply(lambda x: src_dict.get(x, None))
between_mobility['MobilitySurveyedInhabitants_To[Powiat]']   = between_mobility['To[Powiat]'].apply(lambda x: dest_dict.get(x, None))
between_mobility['MobilitySurveyedInhabitants_To_From[Powiat]']   = between_mobility['To[Powiat]'].apply(lambda x: src_dict.get(x, None))

In [49]:
between_mobility['%ppl moving']= between_mobility['# ppl moving'].div(between_mobility['MobilitySurveyedInhabitants_From[Powiat]'],axis=0)

In [50]:
indexed_ = between_mobility.set_index(['From[Powiat]', 'To[Powiat]'])

In [51]:
mobilities_diff = between_mobility[between_mobility['From[Powiat]'] != between_mobility['To[Powiat]']]

In [52]:
mobilities_diff

,From[Powiat],To[Powiat],# ppl moving,Inhabitants_From[Powiat],Inhabitants_To[Powiat],MobilitySurveyedInhabitants_From[Powiat],MobilitySurveyedInhabitants_To[Powiat],%ppl moving,MobilitySurveyedInhabitants_To_From[Powiat]
1,0201,0210,101,90528,56732,6948,2854,0.014537,4222
2,0201,0211,145,90528,106966,6948,8251,0.020869,11605
3,0201,0212,85,90528,47877,6948,2100,0.012234,3590
4,0201,0216,306,90528,63121,6948,15715,0.044041,8008
5,0201,0223,173,90528,121651,6948,17032,0.024899,9270
...,...,...,...,...,...,...,...,...,...
7064,3263011,3064011,27,41516,553564,574,85744,0.047038,24278
7065,3263011,3207,80,41516,48391,574,1357,0.139373,2486
7066,3263011,3214,17,41516,120899,574,3068,0.029617,7378
7067,3263011,3261011,11,41516,109233,574,6649,0.019164,3587
7068,3263011,3262011,249,41516,409596,574,23610,0.433798,7739

In [53]:
indexed_.loc['0264011','0261011']

# ppl moving                                       80.000000
Inhabitants_From[Powiat]                       631235.000000
Inhabitants_To[Powiat]                          83463.000000
MobilitySurveyedInhabitants_From[Powiat]        12989.000000
MobilitySurveyedInhabitants_To[Powiat]           4774.000000
%ppl moving                                         0.006159
MobilitySurveyedInhabitants_To_From[Powiat]      3095.000000
Name: (0264011, 0261011), dtype: float64

In [68]:
indexed_.loc['0261011', '0264011']

# ppl moving                                      751.000000
Inhabitants_From[Powiat]                        83463.000000
Inhabitants_To[Powiat]                         631235.000000
MobilitySurveyedInhabitants_From[Powiat]         3095.000000
MobilitySurveyedInhabitants_To[Powiat]          59709.000000
%ppl moving                                         0.242649
MobilitySurveyedInhabitants_To_From[Powiat]     12989.000000
Name: (0261011, 0264011), dtype: float64

In [ ]:
Inhabitants_From

In [18]:
between_mobility['MobilitySurveyedInhabitants_From[Powiat]'].describe()

count     7069.000000
mean      9307.922903
std       7128.514458
min        574.000000
25%       4167.000000
50%       7269.000000
75%      11644.000000
max      53361.000000
Name: MobilitySurveyedInhabitants_From[Powiat], dtype: float64

In [113]:
from scipy.optimize import curve_fit
def func(x, a, b, k):
    x1, x2 = x
    return k*(x1**(1+b))*(x2**a) + k*(x1**a)*(x2**(1+b))

xdata = [
    mobilities_diff.dropna()['MobilitySurveyedInhabitants_From[Powiat]'].values,
    mobilities_diff.dropna()['Inhabitants_To[Powiat]'].values
]
ydata = mobilities_diff.dropna()['# ppl moving'].values

popt, pcov = curve_fit(func, xdata, ydata)

In [114]:
popt

array([ 8.03773960e-01, -1.96175671e-01,  3.59792667e-06])

In [109]:
ppl_stayed = between_mobility[between_mobility['From[Powiat]']==between_mobility['To[Powiat]']][['From[Powiat]', '# ppl moving']].drop_duplicates().set_index(['From[Powiat]'])['# ppl moving']

In [110]:
ppl_moving = between_mobility[between_mobility['From[Powiat]']!=between_mobility['To[Powiat]']].groupby(['From[Powiat]'])['# ppl moving'].sum()

In [111]:
flows = pd.DataFrame([ppl_stayed, ppl_moving]).T#.dropna()

In [112]:
flows

              # ppl moving  # ppl moving
From[Powiat]
0201                4337.0        2611.0
0202                5043.0        5021.0
0203                1883.0        7387.0
0204                 959.0        2177.0
0205                1643.0        3057.0
...                    ...           ...
3063011                NaN        3385.0
3064011                NaN       24278.0
3261011                NaN        3587.0
3262011                NaN        7739.0
3263011                NaN         574.0

[379 rows x 2 columns]

In [95]:
marginals = flows.div(flows.sum(axis=1), axis=0)
marginals.columns = ['% ppl staying', '% ppl moving']

In [99]:
marginals['# inhabitants'] = pd.Series(ludnosc_dict)

In [101]:
marginals_all = marginals.dropna()

In [104]:
marginals_all.to_excel('./result.xlsx')

In [103]:
ludnosc.shape

(380,)

In [42]:
from scipy.optimize import curve_fit
def func(x, a, b, k):
    x1, x2 = x
    return k*(x1**(1+b))*(x2**a) + k*(x1**a)*(x2**(1+b))

xdata = [
    mobilities_diff.dropna()['Inhabitants_To[Powiat]'].values,
    mobilities_diff.dropna()['Inhabitants_From[Powiat]'].values
]
ydata = mobilities_diff.dropna()['# ppl moving'].values

popt, pcov = curve_fit(func, xdata, ydata)

In [43]:
popt

array([ 0.48664416, -0.51334907,  0.00109632])

In [8]:
def aggregate_powiaty(kod_gminy):
    kod_gminy = kod_gminy.strip()
    if kod_gminy in miejskie_powiaty_id:
        return kod_gminy
    
    return kod_gminy[:4]

In [10]:
mobilnosc_miedzy_powiatami = mobilnosc_miedzy_gminami[mobilnosc_miedzy_gminami['zrodlo']!=mobilnosc_miedzy_gminami['cel']].copy()

In [11]:
mobilnosc_miedzy_powiatami.shape[0], mobilnosc_miedzy_gminami.shape[0]

(23063, 34986)

In [12]:
mobilnosc_miedzy_powiatami['Liczba osób'] = mobilnosc_miedzy_powiatami['Liczba osób'].astype(int)

In [14]:
ludnosc = powiaty[powiaty.columns[1:3]].copy()
ludnosc.columns = ["ID", "Inhabitants"]
ludnosc['ID']=ludnosc['ID'].astype(str).str.strip()
ludnosc = ludnosc.set_index("ID")['Inhabitants']

In [13]:
wiezba_ruchu = mobilnosc_miedzy_powiatami.groupby(['zrodlo', 'cel'])['Liczba osób'].sum().reset_index()

In [19]:
wiezba_ruchu['zrodlo_inhabitants']=wiezba_ruchu.zrodlo.apply(lambda x: ludnosc.to_dict().get(x))
wiezba_ruchu['cel_inhabitants']=wiezba_ruchu.cel.apply(lambda x: ludnosc.to_dict().get(x))

In [21]:
wiezba_ruchu.columns=['From(Powiat)', 'To(Powiat)', '# of people', 'Inhabitants(From)', 'Inhabitants(To)']

In [25]:
wiezba_ruchu.to_excel('../data/processed/wiezba_ruchu.xlsx')

In [27]:
wiezba_ruchu.to_csv('../data/processed/wiezba_ruchu.csv')

In [30]:
out_ = wiezba_ruchu.groupby('From(Powiat)')['# of people'].sum()
in_ = wiezba_ruchu.groupby('To(Powiat)')['# of people'].sum()

In [31]:
final_data = pd.DataFrame([out_, in_]).T
final_data.columns = ['Outgoing', 'Incoming']
final_data = final_data.merge(ludnosc, left_index=True, right_index=True, how='left').copy()

In [33]:
final_data.dropna().to_excel('../data/processed/per_powiat.xlsx')

In [35]:
final_data.dropna().to_csv('../data/processed/per_powiat.csv')

In [59]:
wiezba_ruchu

     From(Powiat) To(Powiat)  # of people  Inhabitants(From)  Inhabitants(To)
0            0201       0209           62              90528            54744
1            0201       0210          113              90528            56732
2            0201       0211           95              90528           106966
3            0201       0212          123              90528            47877
4            0201       0216          256              90528            63121
...           ...        ...          ...                ...              ...
6423      3263011    1465011           23              41516          1708491
6424      3263011       2215           10              41516           201630
6425      3263011    3064011           17              41516           553564
6426      3263011       3207           63              41516            48391
6427      3263011    3262011          121              41516           409596

[6428 rows x 5 columns]

In [36]:
# Params

In [55]:
def func(x, a, b, k):
    x1, x2 = x
    return k*(x1**(1+b))*(x2**a) + k*(x1**a)*(x2**(1+b))

In [68]:
symmetrized = pd.DataFrame(
    {
        'Inhabitants(From)': in_+out_,
        'Inhabitants(To)': in_+out_
    })
symmetrized=symmetrized.merge(ludnosc, left_index=True, right_index=True, how='left')

In [56]:
xdata = [
    wiezba_ruchu.dropna()['Inhabitants(From)'].values,
    wiezba_ruchu.dropna()['Inhabitants(To)'].values
]
ydata = wiezba_ruchu.dropna()['# of people'].values

In [57]:
popt, pcov = curve_fit(func, xdata, ydata)

In [58]:
popt

array([ 0.38112657, -0.61882523,  0.0158683 ])

In [76]:
wiezba_ruchu.set_index(['To(Powiat)','From(Powiat)'])['# of people'].values

array([ 62, 113,  95, ...,  17,  63, 121])

In [77]:
wiezba_ruchu.set_index(['From(Powiat)', 'To(Powiat)'])['# of people']

From(Powiat)  To(Powiat)
0201          0209           62
              0210          113
              0211           95
              0212          123
              0216          256
                           ...
3263011       1465011        23
              2215           10
              3064011        17
              3207           63
              3262011       121
Name: # of people, Length: 6428, dtype: int64

In [78]:
symmetrized = wiezba_ruchu.set_index(['From(Powiat)', 'To(Powiat)'])['# of people'] + wiezba_ruchu.set_index(['To(Powiat)','From(Powiat)'])['# of people']

In [90]:
matrix = wiezba_ruchu[['From(Powiat)', 'To(Powiat)', '# of people']].pivot('From(Powiat)', 'To(Powiat)', '# of people').fillna(0)

In [84]:
wiezba_ruchu.set_index(['To(Powiat)','From(Powiat)'])['# of people'].to_dict()

{('0209', '0201'): 62,
 ('0210', '0201'): 113,
 ('0211', '0201'): 95,
 ('0212', '0201'): 123,
 ('0216', '0201'): 256,
 ('0223', '0201'): 20,
 ('0225', '0201'): 138,
 ('0226', '0201'): 12,
 ('0261011', '0201'): 39,
 ('0262011', '0201'): 155,
 ('0264011', '0201'): 739,
 ('0265011', '0201'): 20,
 ('0804', '0201'): 17,
 ('0811', '0201'): 10,
 ('1061011', '0201'): 52,
 ('1465011', '0201'): 275,
 ('2477011', '0201'): 12,
 ('3022', '0201'): 12,
 ('3064011', '0201'): 13,
 ('0217', '0202'): 16,
 ('0219', '0202'): 716,
 ('0221', '0202'): 22,
 ('0223', '0202'): 1886,
 ('0224', '0202'): 77,
 ('0226', '0202'): 13,
 ('0261011', '0202'): 10,
 ('0262011', '0202'): 27,
 ('0264011', '0202'): 2068,
 ('0265011', '0202'): 215,
 ('1261011', '0202'): 24,
 ('1438', '0202'): 17,
 ('1465011', '0202'): 176,
 ('1661011', '0202'): 14,
 ('0209', '0203'): 25,
 ('0211', '0203'): 1118,
 ('0216', '0203'): 5110,
 ('0223', '0203'): 23,
 ('0226', '0203'): 20,
 ('0262011', '0203'): 180,
 ('0264011', '0203'): 691,
 ('0265011', '0203'): 22,
 ('0804', '0203'): 55,
 ('0812', '0203'): 178,
 ('0862011', '0203'): 35,
 ('1261011', '0203'): 16,
 ('1465011', '0203'): 69,
 ('2462011', '0203'): 66,
 ('2469011', '0203'): 23,
 ('3021', '0203'): 10,
 ('3031', '0203'): 10,
 ('3063011', '0203'): 46,
 ('3064011', '0203'): 25,
 ('0203', '0204'): 153,
 ('0211', '0204'): 147,
 ('0216', '0204'): 83,
 ('0220', '0204'): 11,
 ('0222', '0204'): 22,
 ('0223', '0204'): 22,
 ('0264011', '0204'): 322,
 ('0812', '0204'): 56,
 ('0862011', '0204'): 78,
 ('1465011', '0204'): 76,
 ('2461011', '0204'): 11,
 ('3013', '0204'): 190,
 ('3021', '0204'): 10,
 ('3022', '0204'): 220,
 ('3063011', '0204'): 673,
 ('3064011', '0204'): 72,
 ('0206', '0205'): 211,
 ('0207', '0205'): 36,
 ('0209', '0205'): 293,
 ('0211', '0205'): 57,
 ('0216', '0205'): 36,
 ('0218', '0205'): 66,
 ('0219', '0205'): 558,
 ('0223', '0205'): 275,
 ('0226', '0205'): 39,
 ('0261011', '0205'): 131,
 ('0262011', '0205'): 999,
 ('0264011', '0205'): 633,
 ('0265011', '0205'): 163,
 ('1465011', '0205'): 92,
 ('2469011', '0205'): 11,
 ('3021', '0205'): 32,
 ('3022', '0205'): 28,
 ('0207', '0206'): 13,
 ('0208', '0206'): 12,
 ('0261011', '0206'): 2901,
 ('0262011', '0206'): 48,
 ('0264011', '0206'): 649,
 ('0265011', '0206'): 48,
 ('1434', '0206'): 91,
 ('1465011', '0206'): 84,
 ('2469011', '0206'): 10,
 ('3205', '0206'): 48,
 ('0205', '0207'): 12,
 ('0206', '0207'): 307,
 ('0212', '0207'): 10,
 ('0216', '0207'): 23,
 ('0221', '0207'): 92,
 ('0261011', '0207'): 279,
 ('0262011', '0207'): 23,
 ('0264011', '0207'): 394,
 ('0265011', '0207'): 496,
 ('1434', '0207'): 10,
 ('1465011', '0207'): 20,
 ('0202', '0208'): 106,
 ('0211', '0208'): 10,
 ('0216', '0208'): 39,
 ('0219', '0208'): 12,
 ('0223', '0208'): 308,
 ('0224', '0208'): 48,
 ('0225', '0208'): 10,
 ('0226', '0208'): 12,
 ('0262011', '0208'): 12,
 ('0264011', '0208'): 1465,
 ('0265011', '0208'): 471,
 ('1216', '0208'): 40,
 ('1465011', '0208'): 311,
 ('1661011', '0208'): 17,
 ('2413', '0208'): 11,
 ('3064011', '0208'): 10,
 ('0201', '0209'): 202,
 ('0205', '0209'): 11,
 ('0211', '0209'): 402,
 ('0216', '0209'): 352,
 ('0218', '0209'): 299,
 ('0223', '0209'): 90,
 ('0225', '0209'): 42,
 ('0226', '0209'): 95,
 ('0262011', '0209'): 3005,
 ('0264011', '0209'): 1115,
 ('0265011', '0209'): 45,
 ('0418', '0209'): 22,
 ('1203', '0209'): 19,
 ('1261011', '0209'): 10,
 ('1465011', '0209'): 114,
 ('2477011', '0209'): 16,
 ('0201', '0210'): 525,
 ('0212', '0210'): 240,
 ('0223', '0210'): 13,
 ('0225', '0210'): 546,
 ('0261011', '0210'): 116,
 ('0262011', '0210'): 16,
 ('0264011', '0210'): 408,
 ('0265011', '0210'): 32,
 ('1001', '0210'): 16,
 ('1261011', '0210'): 23,
 ('1465011', '0210'): 63,
 ('2469011', '0210'): 14,
 ('2601', '0210'): 16,
 ('3064011', '0210'): 11,
 ('0203', '0211'): 124,
 ('0206', '0211'): 10,
 ('0209', '0211'): 184,
 ('0216', '0211'): 5503,
 ('0218', '0211'): 26,
 ('0222', '0211'): 36,
 ('0223', '0211'): 39,
 ('0226', '0211'): 14,
 ('0261011', '0211'): 15,
 ('0262011', '0211'): 701,
 ('0264011', '0211'): 915,
 ('0265011', '0211'): 28,
 ('1261011', '0211'): 11,
 ('1418', '0211'): 11,
 ('1465011', '0211'): 156,
 ('2461011', '0211'): 13,
 ('2462011', '0211'): 94,
 ('2469011', '0211'): 51,
 ('3004', '0211'): 22,
 ('3021', '0211'): 11,
 ('3064011', '0211'): 26,
 ('0201', '0212'): 325,
 ('0206', '0212'): 95,
 ('0210', '0212'): 448,
 ('0223', '0212'): 13,
 ('0225', '0212'): 12,
 ('0261011', '0212'): 480,
 ('0262011', '0212'): 32,
 ('0264011', '0212'): 457,
 ('0265011', '0212'): 11,
 ('1465011', '0212'): 15,
 ('0214', '0213'): 477,
 ('0220', '0213'): 321,
 ('0223', '0213'): 51,
 ('0264011', '0213'): 579,
 ('0862011', '0213'): 35,
 ('1465011', '0213'): 50,
 ('3012', '0213'): 250,
 ('3017', '0213'): 32,
 ('3022', '0213'): 27,
 ('0211', '0214'): 21,
 ('0213', '0214'): 69,
 ('0215', '0214'): 622,
 ('0217', '0214'): 17,
 ('0220', '0214'): 15,
 ('0223', '0214'): 1094,
 ('0262011', '0214'): 13,
 ('0264011', '0214'): 3710,
 ('0265011', '0214'): 49,
 ('1261011', '0214'): 29,
 ('1465011', '0214'): 318,
 ('1606', '0214'): 121,
 ('2661011', '0214'): 34,
 ('3008', '0214'): 387,
 ('3017', '0214'): 37,
 ('3018', '0214'): 60,
 ('3064011', '0214'): 201,
 ('0217', '0215'): 24,
 ('0223', '0215'): 769,
 ('0262011', '0215'): 198,
 ('0264011', '0215'): 2894,
 ('0265011', '0215'): 39,
 ('0602', '0215'): 12,
 ('1261011', '0215'): 69,
 ('1413', '0215'): 83,
 ('1465011', '0215'): 514,
 ('1601', '0215'): 84,
 ('1661011', '0215'): 23,
 ('2469011', '0215'): 11,
 ('3021', '0215'): 16,
 ('3064011', '0215'): 46,
 ('0201', '0216'): 25,
 ('0203', '0216'): 699,
 ('0209', '0216'): 24,
 ('0211', '0216'): 1730,
 ('0222', '0216'): 11,
 ('0223', '0216'): 10,
 ('0262011', '0216'): 195,
 ('0264011', '0216'): 607,
 ('0804', '0216'): 21,
 ('1465011', '0216'): 27,
 ('2462011', '0216'): 58,
 ('2465011', '0216'): 12,
 ('3021', '0216'): 11,
 ('3030', '0216'): 12,
 ('0202', '0217'): 37,
 ('0215', '0217'): 605,
 ('0223', '0217'): 926,
 ('0224', '0217'): 12,
 ('0262011', '0217'): 34,
 ('0264011', '0217'): 1627,
 ('0265011', '0217'): 21,
 ('1261011', '0217'): 42,
 ('1413', '0217'): 16,
 ('1465011', '0217'): 299,
 ('1601', '0217'): 99,
 ('1661011', '0217'): 39,
 ('3064011', '0217'): 19,
 ('0205', '0218'): 22,
 ('0209', '0218'): 10,
 ('0211', '0218'): 11,
 ('0219', '0218'): 219,
 ('0222', '0218'): 46,
 ('0223', '0218'): 825,
 ('0262011', '0218'): 68,
 ('0264011', '0218'): 2579,
 ('0265011', '0218'): 10,
 ('1462011', '0218'): 14,
 ('1465011', '0218'): 341,
 ('2203', '0218'): 36,
 ('3022', '0218'): 10,
 ('3064011', '0218'): 12,
 ('0202', '0219'): 341,
 ('0205', '0219'): 178,
 ('0209', '0219'): 21,
 ('0218', '0219'): 54,
 ('0221', '0219'): 47,
 ('0223', '0219'): 1365,
 ('0224', '0219'): 32,
 ('0261011', '0219'): 12,
 ('0262011', '0219'): 93,
 ('0264011', '0219'): 2230,
 ('0265011', '0219'): 1918,
 ('1014', '0219'): 35,
 ('1261011', '0219'): 11,
 ('1421', '0219'): 10,
 ('1465011', '0219'): 1171,
 ('2408', '0219'): 29,
 ('2410', '0219'): 15,
 ('3064011', '0219'): 19,
 ('0211', '0220'): 27,
 ('0213', '0220'): 70,
 ('0214', '0220'): 23,
 ('0222', '0220'): 188,
 ('0223', '0220'): 300,
 ('0264011', '0220'): 4445,
 ('0862011', '0220'): 15,
 ('1261011', '0220'): 38,
 ('1465011', '0220'): 321,
 ('3018', '0220'): 15,
 ('3022', '0220'): 80,
 ('3064011', '0220'): 37,
 ('0206', '0221'): 19,
 ('0207', '0221'): 303,
 ('0219', '0221'): 346,
 ('0223', '0221'): 197,
 ('0261011', '0221'): 53,
 ('0262011', '0221'): 16,
 ('0264011', '0221'): 867,
 ('0265011', '0221'): 4120,
 ('1465011', '0221'): 141,
 ('2477011', '0221'): 10,
 ('3064011', '0221'): 33,
 ('0211', '0222'): 274,
 ('0216', '0222'): 117,
 ('0218', '0222'): 232,
 ('0220', '0222'): 281,
 ('0223', '0222'): 111,
 ('0262011', '0222'): 30,
 ('0264011', '0222'): 1408,
 ('1465011', '0222'): 93,
 ('2209', '0222'): 89,
 ('2262011', '0222'): 15,
 ('2469011', '0222'): 13,
 ('3019', '0222'): 10,
 ('3063011', '0222'): 55,
 ('3064011', '0222'): 11,
 ('0202', '0223'): 11,
 ('0214', '0223'): 73,
 ('0215', '0223'): 514,
 ('0218', '0223'): 65,
 ('0219', '0223'): 107,
 ('0220', '0223'): 42,
 ('0262011', '0223'): 14,
 ('0264011', '0223'): 11314,
 ('0265011', '0223'): 109,
 ('1206', '0223'): 12,
 ('1261011', '0223'): 92,
 ('1421', '0223'): 69,
 ('1465011', '0223'): 1159,
 ('2466011', '0223'): 12,
 ('2469011', '0223'): 23,
 ('3021', '0223'): 16,
 ('3064011', '0223'): 154,
 ('0202', '0224'): 278,
 ('0208', '0224'): 433,
 ('0217', '0224'): 201,
 ('0219', '0224'): 20,
 ('0223', '0224'): 794,
 ('0264011', '0224'): 1384,
 ('0265011', '0224'): 37,
 ('1261011', '0224'): 14,
 ('1465011', '0224'): 107,
 ('1607', '0224'): 34,
 ('1661011', '0224'): 99,
 ('2413', '0224'): 53,
 ('2465011', '0224'): 24,
 ('3064011', '0224'): 21,
 ('0201', '0225'): 642,
 ('0210', '0225'): 99,
 ('0223', '0225'): 11,
 ('0261011', '0225'): 32,
 ('0262011', '0225'): 40,
 ('0264011', '0225'): 830,
 ('0265011', '0225'): 10,
 ('0810', '0225'): 11,
 ('0862011', '0225'): 11,
 ('1001', '0225'): 420,
 ('1261011', '0225'): 36,
 ('1418', '0225'): 25,
 ('1465011', '0225'): 262,
 ('1661011', '0225'): 13,
 ('0201', '0226'): 122,
 ('0205', '0226'): 37,
 ('0206', '0226'): 243,
 ('0209', '0226'): 175,
 ('0211', '0226'): 134,
 ('0212', '0226'): 12,
 ('0216', '0226'): 145,
 ('0223', '0226'): 11,
 ('0261011', '0226'): 308,
 ('0262011', '0226'): 862,
 ('0264011', '0226'): 438,
 ('0265011', '0226'): 23,
 ('1465011', '0226'): 30,
 ('0201', '0261011'): 13,
 ('0202', '0261011'): 20,
 ('0205', '0261011'): 30,
 ('0206', '0261011'): 1730,
 ('0207', '0261011'): 24,
 ('0208', '0261011'): 23,
 ('0210', '0261011'): 31,
 ('0212', '0261011'): 35,
 ('0219', '0261011'): 12,
 ('0223', '0261011'): 41,
 ('0225', '0261011'): 20,
 ('0262011', '0261011'): 42,
 ('0264011', '0261011'): 317,
 ('0265011', '0261011'): 33,
 ('1434', '0261011'): 51,
 ('1465011', '0261011'): 79,
 ('1661011', '0261011'): 10,
 ('2466011', '0261011'): 53,
 ('2469011', '0261011'): 29,
 ('3021', '0261011'): 11,
 ('3064011', '0261011'): 12,
 ('3205', '0261011'): 17,
 ('0201', '0262011'): 68,
 ('0203', '0262011'): 42,
 ('0205', '0262011'): 176,
 ('0206', '0262011'): 20,
 ('0209', '0262011'): 1616,
 ('0211', '0262011'): 756,
 ('0216', '0262011'): 446,
 ('0218', '0262011'): 42,
 ('0219', '0262011'): 16,
 ('0223', '0262011'): 245,
 ('0225', '0262011'): 29,
 ('0226', '0262011'): 122,
 ('0264011', '0262011'): 914,
 ('0265011', '0262011'): 80,
 ('1061011', '0262011'): 10,
 ('1261011', '0262011'): 38,
 ('1465011', '0262011'): 148,
 ('2261011', '0262011'): 12,
 ('2410', '0262011'): 12,
 ('2469011', '0262011'): 19,
 ('3019', '0262011'): 10,
 ('3064011', '0262011'): 41,
 ('0201', '0264011'): 22,
 ('0202', '0264011'): 108,
 ('0203', '0264011'): 22,
 ('0205', '0264011'): 20,
 ('0206', '0264011'): 12,
 ('0207', '0264011'): 12,
 ('0208', '0264011'): 25,
 ('0209', '0264011'): 47,
 ('0210', '0264011'): 19,
 ('0211', '0264011'): 137,
 ('0213', '0264011'): 79,
 ('0214', '0264011'): 264,
 ('0215', '0264011'): 638,
 ('0216', '0264011'): 47,
 ('0217', '0264011'): 147,
 ('0218', '0264011'): 873,
 ('0219', '0264011'): 290,
 ('0220', '0264011'): 553,
 ('0221', '0264011'): 14,
 ('0222', '0264011'): 237,
 ('0223', '0264011'): 6636,
 ('0224', '0264011'): 71,
 ('0225', '0264011'): 33,
 ('0226', '0264011'): 17,
 ('0261011', '0264011'): 54,
 ('0262011', '0264011'): 172,
 ('0265011', '0264011'): 184,
 ('0463011', '0264011'): 20,
 ('0602', '0264011'): 36,
 ('0663011', '0264011'): 21,
 ('0861011', '0264011'): 13,
 ('0862011', '0264011'): 20,
 ('1018', '0264011'): 14,
 ('1020', '0264011'): 31,
 ('1061011', '0264011'): 71,
 ('1206', '0264011'): 31,
 ('1209', '0264011'): 12,
 ('1218', '0264011'): 11,
 ('1261011', '0264011'): 223,
 ('1417', '0264011'): 45,
 ('1418', '0264011'): 169,
 ('1420', '0264011'): 20,
 ('1421', '0264011'): 268,
 ('1432', '0264011'): 28,
 ('1438', '0264011'): 27,
 ('1465011', '0264011'): 2495,
 ('1601', '0264011'): 86,
 ('1606', '0264011'): 18,
 ('1607', '0264011'): 15,
 ('1661011', '0264011'): 141,
 ('1804', '0264011'): 44,
 ('1863011', '0264011'): 23,
 ('2261011', '0264011'): 62,
 ('2262011', '0264011'): 23,
 ('2403', '0264011'): 16,
 ('2461011', '0264011'): 39,
 ('2463011', '0264011'): 17,
 ('2464011', '0264011'): 14,
 ('2465011', '0264011'): 25,
 ('2466011', '0264011'): 72,
 ('2469011', '0264011'): 114,
 ('2475011', '0264011'): 18,
 ('2477011', '0264011'): 19,
 ('2478011', '0264011'): 13,
 ('2609', '0264011'): 10,
 ('2661011', '0264011'): 88,
 ('3012', '0264011'): 25,
 ('3017', '0264011'): 11,
 ('3018', '0264011'): 19,
 ('3019', '0264011'): 10,
 ('3021', '0264011'): 359,
 ('3022', '0264011'): 19,
 ('3061011', '0264011'): 19,
 ('3062011', '0264011'): 10,
 ('3063011', '0264011'): 10,
 ('3064011', '0264011'): 201,
 ('3214', '0264011'): 15,
 ('3262011', '0264011'): 36,
 ('0202', '0265011'): 57,
 ('0205', '0265011'): 16,
 ('0207', '0265011'): 76,
 ('0208', '0265011'): 22,
 ('0209', '0265011'): 14,
 ('0211', '0265011'): 32,
 ('0215', '0265011'): 13,
 ('0216', '0265011'): 10,
 ('0219', '0265011'): 895,
 ('0221', '0265011'): 875,
 ('0223', '0265011'): 662,
 ('0261011', '0265011'): 22,
 ('0262011', '0265011'): 42,
 ('0264011', '0265011'): 1393,
 ('1063011', '0265011'): 17,
 ('1261011', '0265011'): 30,
 ('1465011', '0265011'): 180,
 ('2401', '0265011'): 13,
 ('2408', '0265011'): 15,
 ('2465011', '0265011'): 17,
 ('2469011', '0265011'): 17,
 ('2476011', '0265011'): 10,
 ('3064011', '0265011'): 56,
 ('0403', '0401'): 10,
 ('0407', '0401'): 14,
 ('0461011', '0401'): 426,
 ('0463011', '0401'): 657,
 ('0464011', '0401'): 461,
 ('1465011', '0401'): 71,
 ('0401', '0402'): 12,
 ('0405', '0402'): 29,
 ('0412', '0402'): 232,
 ('0461011', '0402'): 398,
 ('0462011', '0402'): 21,
 ('0463011', '0402'): 173,
 ('1465011', '0402'): 61,
 ('2261011', '0402'): 12,
 ('2262011', '0402'): 28,
 ('2812', '0402'): 130,
 ('3064011', '0402'): 10,
 ('0264011', '0403'): 10,
 ('0404', '0403'): 34,
 ('0407', '0403'): 58,
 ('0410', '0403'): 87,
 ('0414', '0403'): 111,
 ('0415', '0403'): 25,
 ('0461011', '0403'): 8418,
 ('0463011', '0403'): 187,
 ('1209', '0403'): 37,
 ('1407', '0403'): 14,
 ('1465011', '0403'): 447,
 ('2004', '0403'): 13,
 ('2261011', '0403'): 104,
 ('2262011', '0403'): 43,
 ('3021', '0403'): 10,
 ('3064011', '0403'): 115,
 ('3217', '0403'): 11,
 ('0264011', '0404'): 16,
 ('0403', '0404'): 130,
 ('0406', '0404'): 20,
 ('0408', '0404'): 50,
 ('0414', '0404'): 406,
 ('0415', '0404'): 366,
 ('0417', '0404'): 44,
 ('0461011', '0404'): 743,
 ('0462011', '0404'): 240,
 ('0463011', '0404'): 341,
 ('1465011', '0404'): 43,
 ('2262011', '0404'): 17,
 ('0402', '0405'): 88,
 ('0407', '0405'): 10,
 ('0408', '0405'): 27,
 ('0412', '0405'): 37,
 ('0414', '0405'): 10,
 ('0415', '0405'): 256,
 ('0417', '0405'): 26,
 ('0461011', '0405'): 274,
 ('0463011', '0405'): 801,
 ('1002', '0405'): 12,
 ('1465011', '0405'): 43,
 ('0402', '0406'): 48,
 ('0404', '0406'): 12,
 ('0414', '0406'): 36,
 ('0417', '0406'): 52,
 ('0461011', '0406'): 356,
 ('0462011', '0406'): 1661,
 ('0463011', '0406'): 114,
 ('0862011', '0406'): 52,
 ('1008', '0406'): 11,
 ('1465011', '0406'): 41,
 ('2207', '0406'): 90,
 ('2213', '0406'): 74,
 ('2261011', '0406'): 13,
 ('3217', '0406'): 31,
 ('0264011', '0407'): 14,
 ('0401', '0407'): 16,
 ('0402', '0407'): 12,
 ('0403', '0407'): 330,
 ('0409', '0407'): 352,
 ('0410', '0407'): 36,
 ('0411', '0407'): 40,
 ('0419', '0407'): 172,
 ('0461011', '0407'): 1556,
 ('0463011', '0407'): 945,
 ('0464011', '0407'): 19,
 ('1218', '0407'): 19,
 ('1261011', '0407'): 13,
 ('1462011', '0407'): 16,
 ('1465011', '0407'): 372,
 ('2261011', '0407'): 50,
 ('2262011', '0407'): 65,
 ('2602', '0407'): 61,
 ('3021', '0407'): 92,
 ('3064011', '0407'): 155,
 ('0405', '0408'): 42,
 ('0407', '0408'): 12,
 ('0412', '0408'): 11,
 ('0415', '0408'): 82,
 ('0418', '0408'): 89,
 ('0461011', '0408'): 216,
 ('0463011', '0408'): 330,
 ('0464011', '0408'): 673,
 ('1419', '0408'): 10,
 ('1462011', '0408'): 154,
 ('1465011', '0408'): 143,
 ('3009', '0408'): 12,
 ('0264011', '0409'): 13,
 ('0407', '0409'): 728,
 ('0419', '0409'): 89,
 ('0461011', '0409'): 384,
 ('0463011', '0409'): 81,
 ('0464011', '0409'): 35,
 ('1421', '0409'): 31,
 ('1465011', '0409'): 55,
 ('2261011', '0409'): 10,
 ('2602', '0409'): 17,
 ('3001', '0409'): 19,
 ('3003', '0409'): 338,
 ('3010', '0409'): 21,
 ('3021', '0409'): 40,
 ('3023', '0409'): 13,
 ('3062011', '0409'): 12,
 ('3064011', '0409'): 176,
 ('0403', '0410'): 1400,
 ('0404', '0410'): 10,
 ('0407', '0410'): 26,
 ('0413', '0410'): 76,
 ('0419', '0410'): 77,
 ('0461011', '0410'): 3390,
 ('0463011', '0410'): 121,
 ('1465011', '0410'): 139,
 ('2261011', '0410'): 17,
 ('2262011', '0410'): 15,
 ('3019', '0410'): 133,
 ('3028', '0410'): 53,
 ('3064011', '0410'): 131,
 ('0401', '0411'): 93,
 ('0407', '0411'): 54,
 ('0410', '0411'): 11,
 ('0418', '0411'): 12,
 ('0461011', '0411'): 243,
 ('0463011', '0411'): 142,
 ('0464011', '0411'): 419,
 ('1465011', '0411'): 49,
 ('3009', '0411'): 11,
 ('3010', '0411'): 41,
 ('3062011', '0411'): 17,
 ('3064011', '0411'): 52,
 ('0402', '0412'): 322,
 ('0405', '0412'): 168,
 ('0408', '0412'): 94,
 ('0461011', '0412'): 163,
 ('0463011', '0412'): 89,
 ('0464011', '0412'): 11,
 ('1427', '0412'): 21,
 ('1465011', '0412'): 92,
 ('0403', '0413'): 35,
 ('0414', '0413'): 10,
 ('0416', '0413'): 27,
 ('0461011', '0413'): 356,
 ('1465011', '0413'): 11,
 ('2202', '0413'): 281,
 ('2203', '0413'): 15,
 ('2262011', '0413'): 48,
 ('3008', '0413'): 152,
 ('3031', '0413'): 41,
 ('0264011', '0414'): 32,
 ('0403', '0414'): 161,
 ('0404', '0414'): 105,
 ('0406', '0414'): 11,
 ('0416', '0414'): 87,
 ('0461011', '0414'): 1635,
 ('0462011', '0414'): 758,
 ('0463011', '0414'): 210,
 ('1407', '0414'): 12,
 ('1465011', '0414'): 62,
 ('2214', '0414'): 31,
 ('2261011', '0414'): 82,
 ('2262011', '0414'): 82,
 ('2264011', '0414'): 13,
 ('3064011', '0414'): 28,
 ('3217', '0414'): 12,
 ('0212', '0415'): 12,
 ('0264011', '0415'): 25,
 ('0402', '0415'): 14,
 ('0403', '0415'): 60,
 ('0404', '0415'): 35,
 ('0405', '0415'): 225,
 ('0407', '0415'): 20,
 ('0408', '0415'): 91,
 ('0461011', '0415'): 1235,
 ('0462011', '0415'): 10,
 ('0463011', '0415'): 6227,
 ('0464011', '0415'): 65,
 ('1005', '0415'): 50,
 ('1465011', '0415'): 280,
 ('1661011', '0415'): 72,
 ('2214', '0415'): 43,
 ('2261011', '0415'): 108,
 ('3021', '0415'): 54,
 ('3064011', '0415'): 49,
 ('3261011', '0415'): 29,
 ('0403', '0416'): 35,
 ('0413', '0416'): 28,
 ('0414', '0416'): 161,
 ('0461011', '0416'): 576,
 ('0462011', '0416'): 14,
 ('0463011', '0416'): 24,
 ('0464011', '0416'): 50,
 ('1465011', '0416'): 26,
 ('2202', '0416'): 404,
 ('2214', '0416'): 27,
 ('2261011', '0416'): 24,
 ('2262011', '0416'): 69,
 ('0402', '0417'): 90,
 ('0404', '0417'): 22,
 ('0405', '0417'): 285,
 ('0406', '0417'): 19,
 ('0415', '0417'): 96,
 ('0461011', '0417'): 281,
 ('0462011', '0417'): 130,
 ('0463011', '0417'): 396,
 ('1465011', '0417'): 30,
 ('0264011', '0418'): 40,
 ('0401', '0418'): 61,
 ('0407', '0418'): 25,
 ('0408', '0418'): 84,
 ('0411', '0418'): 20,
 ('0415', '0418'): 64,
 ('0461011', '0418'): 433,
 ('0463011', '0418'): 164,
 ('0464011', '0418'): 3404,
 ('0862011', '0418'): 10,
 ('1002', '0418'): 31,
 ('1061011', '0418'): 42,
 ('1261011', '0418'): 31,
 ('1404', '0418'): 17,
 ('1462011', '0418'): 33,
 ('1465011', '0418'): 201,
 ('1604', '0418'): 14,
 ('2261011', '0418'): 64,
 ('3009', '0418'): 145,
 ('3064011', '0418'): 11,
 ('0403', '0419'): 278,
 ('0407', '0419'): 251,
 ('0409', '0419'): 22,
 ('0410', '0419'): 151,
 ('0461011', '0419'): 1315,
 ('0463011', '0419'): 75,
 ('0464011', '0419'): 22,
 ('1465011', '0419'): 200,
 ('2466011', '0419'): 24,
 ('2602', '0419'): 171,
 ('2604', '0419'): 12,
 ('3003', '0419'): 320,
 ('3021', '0419'): 37,
 ('3028', '0419'): 90,
 ('3064011', '0419'): 205,
 ('0264011', '0461011'): 49,
 ('0402', '0461011'): 10,
 ('0403', '0461011'): 4354,
 ('0404', '0461011'): 67,
 ('0407', '0461011'): 91,
 ('0408', '0461011'): 17,
 ('0409', '0461011'): 10,
 ('0410', '0461011'): 453,
 ('0411', '0461011'): 11,
 ('0413', '0461011'): 15,
 ('0414', '0461011'): 146,
 ('0415', '0461011'): 97,
 ('0416', '0461011'): 32,

In [80]:
symmetrized.loc[('0201','0209')]

124

In [82]:
wiezba_ruchu.set_index(['From(Powiat)', 'To(Powiat)']).loc[('0201','0209')]

# of people             62
Inhabitants(From)    90528
Inhabitants(To)      54744
Name: (0201, 0209), dtype: int64

In [83]:
wiezba_ruchu.set_index(['From(Powiat)', 'To(Powiat)']).loc[('0209','0201')]

# of people            202
Inhabitants(From)    54744
Inhabitants(To)      90528
Name: (0209, 0201), dtype: int64

In [ ]:
xdata = [
    wiezba_ruchu.dropna()['Inhabitants(From)'].values,
    wiezba_ruchu.dropna()['Inhabitants(To)'].values
]
ydata = symmetrized.dropna()['# of people'].values